<nav>
    <a href="/"><i class="fas fa-home"></i>Home</a>
    <a href="/my-dev-squad">My dev squad</a>
    <a href="/add-new-ironhacker">Add new Ironhacker</a>
    <a href="/api/ironhackers">See all ironhackers</a>
</nav>